body {
  background: #101010;
  color: #fff;
}

.info {
  background: #fff;
  color: #111;
}

.code {
  background: #faffff;
  color: #221;
}

a {
  color: #00f;
  background: transparent;
}

pre {
  font-family: Bitstream Vera Sans Mono, Monaco, monospace;
}